%h1 Users

= search_form_for @q, url: admin_users_path do |f|
  = f.label :email_address_cont, "Email contains"
  = f.search_field :email_address_cont
  = f.submit "Search"

%table
  %thead
    %tr
      %th= sort_link(@q, :email_address, "Email")
      %th= sort_link(@q, :created_at, "Created At")
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email_address
        %td= user.created_at

%nav.pagy
  != @pagy.next_tag
