.d-flex.justify-content-between.align-items-center.mb-4
  %h1.h3.mb-0
    %i.bi.bi-people-fill.me-2
    Users

.card.shadow-sm.border-0.mb-4
  .card-body
    = search_form_for @q, url: admin_users_path, html: { class: "row g-2 align-items-end" } do |f|
      .col-md-3
        = f.label :first_name_or_last_name_cont, "Name", class: "form-label form-label-sm"
        = f.search_field :first_name_or_last_name_cont, class: "form-control form-control-sm", placeholder: "Search by name..."
      .col-md-4
        = f.label :email_address_cont, "Email", class: "form-label form-label-sm"
        = f.search_field :email_address_cont, class: "form-control form-control-sm", placeholder: "Search by email..."
      .col-md-3
        = f.label :role_id_eq, "Role", class: "form-label form-label-sm"
        = f.select :role_id_eq, @roles.map { [it.name, it.id] }, { include_blank: "Any" }, class: "form-select form-select-sm"
      .col-auto
        = f.submit "Search", class: "btn btn-primary btn-sm"
      .col-auto
        = link_to "Clear", admin_users_path, class: "btn btn-outline-secondary btn-sm"
= render_users_table(users: @users, q: @q)
- if @pagy.next
  .d-flex.justify-content-end.mt-3
    = link_to admin_users_path(q: params[:q]&.to_unsafe_h, page: @pagy.next), class: "btn btn-outline-secondary btn-sm" do
      Next
      %i.bi.bi-chevron-right
